@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/bebas_neue.woff2') format('woff2'),
       url('fonts/bebas_neue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    background-color: #121212;
    color: #f1f1f1;
    font-family: 'Bebas Neue', sans-serif;
}
.card {
    background-color: #1e1e1e;
    border: none;
    transition: transform 0.2s, box-shadow 0.2s;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
}
aside {
    background-color: #1a1a1a;
    border-radius: 8px;
    padding: 1rem;
    min-height: 100wh;
}
footer {
    border-top: 1px solid #2a2a2a;
    padding: 1rem 0;
    text-align: center;
    color: #aaa;
}

a.link-light:hover {
    color: #fff;
}

.footer-links a {
    margin-right: 10px;
}

@media (min-width: 2400px) {
    .container {
        max-width: 1920px;
    }
}